/*
    Default State: Hidden
-------------------------------------------------------------------------------
*/

.vjs-error-display {
  color: #fff;
  display: none;
  font-family: Helvetica, Arial, sans serif;
  font-size: 16px;
  line-height: 1.428;
}

.vjs-error .vjs-error-display {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.vjs-error .vjs-error-display .vjs-modal-dialog-content {
  font-size: 14px;
}

/*
    Full Size Styles
-------------------------------------------------------------------------------
*/

.vjs-errors-dialog {
  text-align: left;
  border: 1px #999 solid;
  overflow: hidden;
  position: absolute;
  top: 2%;
  bottom: 2%;
  left: 5%;
  right: 5%;
  padding-left: 1%;
  padding-right: 1%;
  background: rgba(24, 24, 24, 0.8);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000)"; /* IE8 */
}

.vjs-errors-details {
  margin-top: 15px;
}

.vjs-errors-message {
  border: 1px #999 solid;
  background-color: #2c2c2c;
  overflow: auto;
  margin-top: 15px;
  padding: 15px;
}

.vjs-errors-ok-button-container {
  display: block;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  text-align: center;
}

.vjs-errors-ok-button {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 36px;
  background-color: #000;
  border: 1px #999 solid;
  border-radius: 5px;
  color: #999;
  font-size: 14px;
  cursor: pointer;
}

.vjs-errors-ok-button:hover {
  border: 1px #FFF solid;
  color: #CCC;
}

.vjs-errors-content-container {
  overflow: auto;
  position: absolute;
  padding-bottom: 15px;
  top: 0;
  left: 15px;
  right: 15px;
  bottom: 61px; /* dialog padding + ok button + 10 */
}

.vjs-errors-headline {
  font-size: 14px;
  font-weight: bold;
  padding-right: 3em;
}

.vjs-errors-dialog .vjs-control.vjs-close-button {
  width: 3em;
  height: 3em;
  top: 0;
}

.vjs-errors-flashmessage {
  float: right;
  font-size: 9px;
  font-style: italic;
}

/*
    "Extra small" Styles
-------------------------------------------------------------------------------
*/

.vjs-xs.vjs-error-display {
  font-size: 14px;
  background-color: #000;
}

.vjs-xs.vjs-error-display .vjs-errors-details,
.vjs-xs.vjs-error-display .vjs-errors-message {
  display: none;
}

.vjs-xs .vjs-errors-content-container {
  top: 0;
}

.vjs-xs .vjs-errors-headline {
  font-size: 16px;
  font-weight: bold;
}

.vjs-xs .vjs-errors-dialog {
  border: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.vjs-xs.vjs-errors-flashmessage {
  display: none;
}

/*
    Media query for player sizes of 600x250 or less.  NOTE: This is a
    copy of the extra small styles above yet without ".vjs-xs".
-------------------------------------------------------------------------------
*/

@media (max-width: 600px), (max-height: 250px) {

  .vjs-error-display {
    font-size: 14px;
    background-color: #000;
  }

  .vjs-error-display .vjs-errors-details,
  .vjs-error-display .vjs-errors-message {
    display: none;
  }

  .vjs-error-display .vjs-errors-content-container {
    top: 15px;
  }

  .vjs-error-display .vjs-errors-headline {
    font-size: 16px;
    font-weight: bold;
  }

  .vjs-error-display .vjs-errors-dialog {
    border: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .vjs-errors-flashmessage {
    display: none;
  }
}
