@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(../fonts/sourcesanspro-extra-light-v5.woff) format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(../fonts/sourcesanspro-semi-bold-v5.woff) format('woff');
}

/*
    Full Size Styles
-------------------------------------------------------------------------------
*/

.vjs-errors-mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0,0,0, .5);
}

.vjs-errors-dialog {
    border: 1px #CCC solid;
    font-family: 'Source Sans Pro', Arial;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background: rgba(0,0,0,.8);
}

.vjs-errors-ok-button-container {
    display: block;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    text-align: center;
}

.vjs-errors-ok-button {
    display: inline-block;
    width: 80px;
    height: 36px;
    background-color: #000;
    border: 1px #999 solid;
    border-radius: 5px;
    color: #999;
    font-size: 14px;
    cursor: pointer;
}

.vjs-errors-ok-button:hover {
    border: 1px #FFF solid;
    color: #CCC;
}

.vjs-errors-content-container {
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 30%;
    width: 100%;
}

.vjs-errors-content-container p {
    text-align: left;
    margin: 15px;
    color: #FFF;
}

.vjs-errors-headline {
    font-size: 22px;
    font-weight: bold;
}


/*
    Mini Styles
-------------------------------------------------------------------------------
*/

.vjs-error-overlay-mini .vjs-errors-close,
.vjs-error-overlay-mini .vjs-errors-details,
.vjs-error-overlay-mini .vjs-errors-message {
    display: none;
}

.vjs-error-overlay-mini .vjs-errors-mask {
    background-color: #000;
}

.vjs-error-overlay-mini .vjs-errors-content-container {
    top: 15px;
    line-height: 6px;
}

.vjs-error-overlay-mini .vjs-errors-headline {
    font-size: 14px;
    font-weight: bold;
}

.vjs-error-overlay-mini .vjs-errors-dialog {
    border: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
}

.vjs-error-overlay-mini .vjs-errors-ok-button {
    width: 60px;
    height: 30px;
}