@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(../fonts/sourcesanspro-extra-light-v5.woff) format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(../fonts/sourcesanspro-semi-bold-v5.woff) format('woff');
}

.vjs-error-dialog {
    background: #999999;
    color: white;
    font-family: 'Source Sans Pro', arial, sans-serif;
    font-size: 16px;
    left: 0;
    margin: 0 auto;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 2;
}

.vjs-error-container {
    margin: 15px;
}

.vjs-errors-heading {
    font-size: 22px;
    font-weight: bold;
}